<!DOCTYPE html>
<html>
    <head>
         <% include ../partials/header.ejs %>
  
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300" rel="stylesheet">
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" rel="stylesheet">
            <link href="css/menu.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="css/fonts.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
                </script>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                    <meta content="width=device-width, initial-scale=1.0" name="viewport">
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet">
                            <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700" rel="stylesheet">
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
                                </script>
                                <link href="css/1.css" rel="stylesheet" type="text/css">
                                    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500" rel="stylesheet">
                                    </link>
                                </link>
                            </link>
                        </link>
                    </meta>
                </link>
            </link>
        </link>
    </head>
    <style type="text/css">
        .btnn {
        background: rgba(0, 0, 0, 0);
        border: solid 1px red;
        box-shadow: 0px 0px 0px 0px inset;
        color: black;
        margin-top: 0px;
        line-height: 1.5;
    }
    </style>
    <body class="body">
        <div class="row">
            <div class="sidemenu col s12 m12 l12 side" style="padding-top: 10%;">
            </div>
            <div class="sidemenu col s12 m12 l12 side" style="padding-top: 1%;">
                <i class="material-icons left cross" style="font-size: 2em;">
                    clear
                </i>
                <br>
                    <div class="menuitems">
                        <a href="">
                            Home
                        </a>
                        <br>
                            <a href="#work">
                                Work
                            </a>
                            <br>
                                <a href="#con">
                                    Contact
                                </a>
                                <br>
                                    <a href="#abt">
                                        About
                                    </a>
                                    <br>
                                        <!-- Social !-->
                                        <p style="margin: 0;">
                                            Find me on:
                                        </p>
                                        <i class="fab fa-instagram 2x">
                                        </i>
                                        <i class="fab fa-facebook 2x">
                                        </i>
                                        <i class="fab fa-medium 2x">
                                        </i>
                                    </br>
                                </br>
                            </br>
                        </br>
                    </div>
                </br>
            </div>
        </div>
    </body>
</html>
<div role="navigation">
    <div class="nav-toggle" id="menuToggle">
        <span class="line">
        </span>
        <span class="line">
        </span>
        <span class="line">
        </span>
    </div>
    <script src="js/1.js" type="text/javascript">
    </script>
    <script src="js/menu.js" type="text/javascript">
    </script>
    
    <div class="row">
           
        <div class="col s12 m12 l12" >
           
            <center>
                
                <div class="container">
                    <img class="logo" id="logo" src="logo.png"/>
                </div>
                <div class="row" style="transform: translateY(-100%);position: fixed;">
                        <div class=" row" style="margin: 0;">
                                <div class="col s10 m10 l10 blue intmenu intmenu1" style="height: 4vh;width: 4vw;"></div>  <div class="col s2 m2 l2 fade1" style="display: none;">1</div> </div>
                                <div class=" row" style="margin: 0;">
                                    <div class="col s10 m10 l10 green intmenu intmenu2" style="height: 4vh;width: 4vw;"></div>  <div class="col s2 m2 l2 fade2" style="display: none;">2</div> </div>
                                    <div class=" row" style="margin: 0;">
                                        <div class="col s10 m10 l10 yellow intmenu intmenu3" style="height: 4vh;width: 4vw;"></div>  <div class="col s2 m2 l2 fade3" style="display: none;">3</div> </div>
                                        <div class=" row" style="margin: 0;">
                                            <div class="col s10 m10 l10 indigo intmenu intmenu4" style="height: 4vh;width: 4vw;"></div>  <div class="col s2 m2 l2 fade4" style="display: none;">4</div> </div>
                                            <div class=" row" style="margin: 0;">
                                                <div class="col s10 m10 l10 black intmenu intmenu5" style="height: 4vh;width: 4vw;"></div>  <div class="col s2 m2 l2 fade5" style="display: none;">5</div> </div>
                                            </div> </div>
            </center>
            <center>
                <h4 class="x" >
                   31<sup>st</sup> October 2018.
                     <br> Delhi Public School, Gurgaon
                </h4>
            </center>
            <center>
                <div class="btnn btn">
                    Know More
                    <i class="material-icons buttonlander">
                        trending_flat
                    </i>
                </div>
                <div class="btnn btn">
                    Event Details
                    <i class="material-icons buttonlander">
                        trending_flat
                    </i>
                </div>
            </center>
        </div>
    </div>
    <div class="red about fadeout">
        <center>
            <h2>
             What is TEDx?
            </h2>
            <br>
                <div class="container">
                    <p>
                         In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized
                        events that bring people together to share a TED-like experience. Our event is called TEDx[name], where x = independently
                        organized TED event. At our TEDx[name] event, TED Talks video and live speakers will combine to spark deep discussion and
                        connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events,
                        including ours, are self-organized.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel et magni eaque neque, est voluptatibus quidem quos perferendis, maxime porro cupiditate molestias molestiae doloremque officia adipisci ullam a eum corporis.
                    </p>
                    <h3>
                        Main Organisers
                    </h3>
                    <br>
                        <div class="row">
                            <div class="col s12 m6 l6 ">
                                <p align="center">
                                    <img src="ron.png" style="border-radius: 75%;height: 200px;width:200px;background: black;">
                                        <br>
                                            <br>
                                                Raunaq Puri
                                            </br>
                                        </br>
                                    </img>
                                </p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p align="center">
                                    <img src="abh.png" style="border-radius: 75%;height: 200px;width:200px;background: black;">
                                        <br>
                                            <br>
                                                Abhya Anand
                                            </br>
                                        </br>
                                    </img>
                                </p>
                            </div>
                        </div>
                    </br>
                </div>
            </br>
        </center>
    </div>
</div>


<div class="speakers fadeout">
    <h3 class="black-text mainspeak fadeout">
        <center>
            Speakers
        </center>
    </h3>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="speakerhead red-text ">Our <br>Speakers.
                <br></div>
                <small style="font-size: 1.2em;
                color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error impedit praesentium inventore numquam fugiat quod corrupti dolorem ea? Excepturi ipsum voluptatem laboriosam, aspernatur ad expedita placeat exercitationem temporibus officia optio!</small>
          <br>  <div class="btn btns" style="background: white; box-shadow: 5px 5px 0 red;">
                    Know More
                    <i class="material-icons buttonlander">
                        trending_flat
                    </i>
                </div> &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn btns" style="background: white; box-shadow: 5px 5px 0 red;">
                    Event Details
                    <i class="material-icons buttonlander">
                        trending_flat
                    </i>
                </div>
            </div>
        
        <div class="col s12 m6 l6">
            <div class="container">
                <div class="speakcardarea">
                
                  <div class="speakercard">gg</div>
                  <div class="speakercard">gg</div>
                  <div class="speakercard">gg</div>
                  <div class="speakercard">gg</div>
                  <div class="speakercard">gg</div>
                  <div class="speakercard">gg</div>
                
                   
                 
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    

<div class="row cred">
    <div class="col s12 m12 l12">
        <div class="left">
            TEDx DPS GURGAON Youth
            <br>  This independent TEDx event is operated under license from TED.
        </div>
       
        <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.2442443962!2d77.06253715100675!3d28.442052799340573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d188e8155d23b%3A0x42c14b186c28bb87!2sDelhi+Public+School!5e0!3m2!1sen!2sin!4v1534086974565"
            width="" height="" frameborder="0" style="border:0" allowfullscreen></iframe>
        </script>
        <body>
        </div>
     
        </div>
    </div>
</div>
<div>
</div>
<script type="text/javascript">        
                                       $(".intmenu1").hover(function() {
                                           $(".fade1").fadeToggle();
                                         
                                       });
                                       $(".intmenu2").hover(function() {
                                           $(".fade2").fadeToggle();
                                         
                                       });
                                       $(".intmenu3").hover(function() {
                                           $(".fade3").fadeToggle();
                                         
                                       });
                                       $(".intmenu4").hover(function() {
                                           $(".fade4").fadeToggle();
                                         
                                       });
                                       $(".intmenu5").hover(function() {
                                           $(".fade5").fadeToggle();
                                         
                                       });
    $('.about').fadeOut();
$('.red h2 ').fadeOut();
$('.red p ').fadeOut();
$('.red h3 ').fadeOut();
$('.speakers ').fadeOut();
$('.red img ').fadeOut();
$('.cred').fadeOut();
 $(".red").delay("2500").fadeIn();
 $(".speakers").delay("5000").fadeIn();
 $(".speakers mainspeak").delay("5000").fadeIn();
 $(".cred").delay("5000").fadeIn();
 $(".red").hover(function() {
$('.red h2').fadeIn();
$('.red h3').fadeIn();
$('.red p').fadeIn();
$('.red img').fadeIn();
$('.red h2').addClass('up');
});
         $(".speakers").hover(function() {
   $('.speakers h2').fadeIn();
    
});
</script>

</script>
<script>
</script>
</body>

</html>